#basic{
	width: 1200px;
	padding-left:300px;
	padding-bottom: 50px;
}

#start_page{
	width: 800px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom: 50px;
}

.list-inline{
	height:80px;
	padding-left:100px;
	font-size:20px;
	padding-top:30px;
	padding-bottom:50px;
}

.text-center{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:45px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}


.row{
	font-size:15px;
}

.text-center{
	font-size:25px;
}



#card{
border:solid 2px black;
margin-left:150px;
margin-top:50px;

}  


#card-link{

margin-left:150px;
margin-top:30px;

}  

#footer-button{
	margin-left:145px;
}


#carousel-index{
	width:300px;
	position:absolute;
}



#MyButton{
	padding-top:300px;
}

#myCarousel{
	padding-top:60px;
	padding-bottom: 70px;
}


#head_word_size{
	font-size:30px;
	
}
#myitem{
	    height: 160px;
		width: 300px;
		border: none;

}
#mycarousel-caption{
	border:black;
	width: 300px;
	padding-top:30px;
}

.item {
    border: 2px solid black;
    width: 300px;
    height: 100px;
}