
{% extends "footer.html" %}


{% block orders %}


<div class="container">
  <div class="row">
        <div class="col-md-1">
     <a href="#"><img src="static/pic/home.png" 
  width="40" height="40" alt="lorem"></a>
        </div>
  </div>
</div>
<!--endLogo-->

<div id="start_page" class="container">
 <h2>Заявки</h2>
 
<div class="row">
  
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <div class="col-md-6">
      <p class="navbar-text navbar-left">Раздел</p>
      <ul class="nav navbar-nav">
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
   <div class="col-md-6">
    <p class="navbar-text navbar-left">Регион</p>
  <ul class="nav navbar-nav">
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Новосибирск и область<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>
 
  <table class="table">
  
    <tbody>
      <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>
    <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
     </tr>
     
      <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>
    
    <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>
    
    <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>
    
    
    <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>
    
    <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>
    
    <tr>
        <td><p>Вчера, в 21:00</p>
    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановкой,с доставкой.</p>
    <p>Алексей</p>
    <button class="btn btn-default" type="submit">Показать телефон</button> <span>12 просмотров</span>
    </td>
        <td></td>
        <td><p class="text-right"><a href="#"><ins>&#9734; в закладки</ins></a></p></td>
    </tr>   
    </tbody>
 
  </table>
  

    <div class="text-center"><button class="btn btn-default btn-lg" type="button">Показать еще</button></div>

  
  <div class="text-center">
<ul class="pagination pagination-lg">
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
</div>

  

  <!-- Controls -->

  
  
</div>

{% endblock %}


